body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #b784db;
}

.envelop{
    position: relative;
    cursor: pointer;
}

.back{
    position: relative;
    width: 250px;
    height: 200px;
    background: #6247aa;
}

.front{
    position: absolute;
    border-right: 130px solid #815ac0;
    border-top: 100px solid transparent;
    border-bottom: 100px solid transparent;
    height: 0;
    width: 0;
    top: 0;
    left: 120px;
    z-index: 3;

}

.front::before{
    content: "";
    position: absolute;
    border-left: 130px solid #815ac0;
    border-top: 100px solid transparent;
    border-bottom: 100px solid transparent;
    height: 0;
    width: 0;
   top: -100px;
   left: -120px;
}

.front::after{
    content: "";
    position: absolute;
    border-bottom: 105px solid #7251b5;
    border-left: 125px solid transparent;
    border-right: 125px solid transparent;
    height: 0;
    width: 0;
   top: -5px;
   left: -120px;
}


.top {
    position: absolute;
    border-top: 105px solid #9163cb;
    border-left: 125px solid transparent;
    border-right: 125px solid transparent;
    height: 0;
    width: 0;
    top: 0;
    transform-origin: top;
    transition: 0.4s;
}

.envelop:hover .top{
    transform: rotateX(180deg);
}